<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seoultech.foodrecipes">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".CategoryChoice"></activity>
        <activity android:name=".CloserMart"></activity>
        <activity android:name=".dobu"></activity>
        <activity android:name=".dobuRecipe"></activity>
        <activity android:name=".kimchi"></activity>
        <activity android:name=".kimchireceipe"></activity>
        <activity android:name=".eggjang"></activity>
        <activity android:name=".eggjangReceipe"></activity>
        <activity android:name=".carrotchicken"></activity>
        <activity android:name=".carrotchickenReceipe"></activity>
        <activity android:name=".pumpkin"></activity>
        <activity android:name=".pumpkinRecipe"></activity>
        <activity android:name=".gambas"></activity>
        <activity android:name=".gambasRecipe"></activity>
        <activity android:name=".stake"></activity>
        <activity android:name=".stakeRecipe"></activity>
        <activity android:name=".pasta"></activity>
        <activity android:name=".pastaRecipe"></activity>
        <activity android:name=".marbled"></activity>
        <activity android:name=".marbledRecipe"></activity>
        <activity android:name=".milfyunabe"></activity>
        <activity android:name=".milfyunabeRecipe"></activity>
        <activity android:name=".meatball"></activity>
        <activity android:name=".meatballRecipe"></activity>
        <activity android:name=".chickennugget"></activity>
        <activity android:name=".chickennuggetRecipe"></activity>
        <activity android:name=".budaestew"></activity>
        <activity android:name=".budaestewRecipe"></activity>
        <activity android:name=".red_bulgogi"></activity>
        <activity android:name=".red_bulgogiRecipe"></activity>
        <activity android:name=".kimchi_fried_rice"></activity>
        <activity android:name=".kimchi_fried_riceRecipe"></activity>
        <activity android:name=".StoreRecipe"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDaGPfiW20LMsxYtWtMDkvGDZvfXGJG1tU"/>
    </application>

</manifest>